<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Review</title>
<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<link type="text/css" th:href="@{/resources/bootstrap/bootstrap-theme.min.css}" rel="stylesheet" />
<link type="text/css" th:href="@{/resources/bootstrap/bootstrap.min.css}" rel="stylesheet" />
<link type="text/css" th:href="@{/resources/css/mobile-common.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/resources/bootstrap/bootstrap.min.js}"></script>
<style type="text/css">
	.wordContent{ text-align: center; }
	#btnGroup{ text-align:center; }
	#btnGroup button{ margin:0.1rem; }
	#wordDetails{ display:none; }
	#wordDetails .left{ width:21%; }
</style>
</head>
<body>
	<div th:replace="common/mobile-header"></div>
	<div style="height:1.2rem;"></div>
	<div class="container">
		<input type="hidden" th:value="${word.id}" id="wordId" />
		<h1 class="wordContent" th:text="${word.content}"></h1>
		<div id="btnGroup">
			<button type="button" class="btn btn-primary btn-lg" onclick="memory(-2)">very strange</button>
			<button type="button" class="btn btn-primary btn-lg" onclick="memory(-1)">strange</button>
			<br/>
			<button type="button" class="btn btn-primary btn-lg" onclick="memory(1)">ordinary</button>
			<br/>
			<button type="button" class="btn btn-primary btn-lg" onclick="memory(2)">familiar</button>
			<button type="button" class="btn btn-primary btn-lg" onclick="memory(3)">very familiar</button>
		</div>
		<br/>
		<div id="btnGroup">
			<button type="button" class="btn btn-success btn-lg" onclick="show()">show details</button>
		</div>
		<br/>
		<table class="table table-bordered table-striped" id="wordDetails">
			<tr>
				<td class="left">US Pron</td>
				<td th:text="${word.usPronunciation}" class="ri]ght"></td>
			</tr>
			<tr>
				<td class="left">US Audio</td>
				<td class="ri]ght"><button class="btn btn-primary" id="usAudioControlBtn">play</button></td>
			</tr>
			<tr>
				<td class="left">UK Pron</td>
				<td th:text="${word.ukPronunciation}" class="ri]ght"></td>
			</tr>
			<tr>
				<td class="left">UK Audio</td>
				<td class="ri]ght"><button class="btn btn-primary" id="ukAudioControlBtn">play</button></td>
			</tr>
			<tr>
				<td class="left">CN Def</td>
				<td th:text="${word.cnDefinition}" class="ri]ght"></td>
			</tr>
		</table>
		<audio id="usAudio"><source th:src="${word.usAudio}" type="audio/mpeg" id="usAudioSource" /></audio>
		<audio id="ukAudio"><source th:src="${word.ukAudio}" type="audio/mpeg" id="ukAudioSource" /></audio>
	</div>
<script type="text/javascript" th:inline="javascript">
	var usAudio = $("#usAudio")[0];
	var ukAudio = $("#ukAudio")[0];
	function memory(status){
		var wordId = $("#wordId").val();
		$.post([[${basePath}]]+"review/memory.do",{
			wordId : wordId,
			memoryStatus : status
		},function(data){
			location.reload();
		});
	}
	function show(){
		var element = $("#wordDetails");
		if(element.css("display") == "none"){
			element.fadeIn();
		}else{
			element.fadeOut();
		}
	}
	$("#usAudioControlBtn").click(function(){
		if(usAudio.paused){
			usAudio.play();
		}else{
			usAudio.pause();
		}
	});
	$("#ukAudioControlBtn").click(function(){
		if(ukAudio.paused){
			ukAudio.play();
		}else{
			ukAudio.pause();
		}
	});
</script>
</body>
</html>