<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Search</title>
<script src="http://g.tbcdn.cn/mtb/lib-flexible/0.3.4/??flexible_css.js,flexible.js"></script>
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<link type="text/css" th:href="@{/resources/bootstrap/bootstrap-theme.min.css}" rel="stylesheet" />
<link type="text/css" th:href="@{/resources/bootstrap/bootstrap.min.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/resources/bootstrap/bootstrap.min.js}"></script>
<style>
	body{ margin:0px; padding:0px;  font-size: 0.6rem; }
	#searchForm{ width:90%; height:100%; margin:0px auto; }
	
	#wordText{ width:100%; height:1.2rem;text-indent:0.2rem;font-size:0.6rem; }
	
	#searchBtn{ height:1.2rem; width:100%; background-color: #333; color:#FFF; margin-top:0.2rem; font-size:0.5rem; }
	
	#wordInfoTable { width:90%; margin:30px auto; }
	
	#wordInfoTable tr .left{ width:23%; }
	
	#usAudioControlBtn,#ukAudioControlBtn{ font-size:0.4rem; }
</style>
</head>
<body>
	<div th:replace="common/mobile-header"></div>
	<div style="height:2rem;"></div>
	<div class="container">
		<div id="searchForm" >
			<input type="text" class="form-control" name="word" id="wordText" onkeydown="enter(event)" />
			<button id="searchBtn" class="btn" type="button">Search</button>
		</div>
		<table id="wordInfoTable" class="table table-bordered table-striped">
			<tr>
				<td class="left">Word</td>
				<td class="ri]ght" id="wordContent"></td>
			</tr>
			<tr>
				<td class="left" title="UK Pronunciation">UK Pron</td>
				<td class="ri]ght" id="ukPronunciation"></td>
			</tr>
			<tr>
				<td class="left" title="US Pronunciation">US Pron</td>
				<td class="ri]ght" id="usPronunciation"></td>
			</tr>
			<tr>
				<td class="left" title="CN Definition">CN Def</td>
				<td class="ri]ght"  id="cnDefinition"></td>
			</tr>
			<tr>
				<td class="left" title="EN Definition">EN Def</td>
				<td class="ri]ght" id="enDefinition"></td>
			</tr>
			<tr>
				<td class="left">UK Audio</td>
				<td class="ri]ght" id="ukAudioTd"></td>
			</tr>
			<tr>
				<td class="left">US Audio</td>
				<td class="ri]ght" id="usAudioTd"></td>
			</tr>
		</table>
	</div>
<script type="text/javascript" th:inline="javascript">
	function search(){
		
		var wordVal = $("#wordText").val();
		if(wordVal == null || wordVal == ""){
			return;
		}
		var reg= /^[A-Za-z]+$/;
		if(!reg.test(wordVal)){
			return;
		}
		if(wordVal == $("#wordContent").text()){
			$("#wordText").val("");
			return;
		}
		$.post([[${basePath}]] + "search.do",{
			word : wordVal
		},function(data){
			var json = data;
			if(json.msg == "SUCCESS"){
				var wordData = json.data;
				$("#wordInfo").fadeOut();
				$("#wordContent").text(wordData.content);
				$("#ukPronunciation").text(wordData.pronunciations['uk']);
				$("#usPronunciation").text(wordData.pronunciations['us']);
				$("#enDefinition").text(wordData.en_definition['defn']);
				$("#cnDefinition").text(wordData.cn_definition['defn']);
				
				$("#ukAudioTd").html("");
				$("#usAudioTd").html("");
				
				var ukAudio = $('<audio control id="ukAudio"><source src="'+wordData.uk_audio+'" type="audio/mpeg" id="ukAudioSource" /></audio>');
				var usAudio = $('<audio control id="usAudio"><source src="'+wordData.us_audio+'" type="audio/mpeg" id="usAudioSource" /></audio>');
				$("#ukAudioTd").append(ukAudio);
				$("#usAudioTd").append(usAudio);
				var usBtn = $('<button class="btn btn-primary btn-lg" id="usAudioControlBtn">play</button>');
				var ukBtn = $('<button class="btn btn-primary btn-lg" id="ukAudioControlBtn">play</button>');
				$("#ukAudioTd").append(ukBtn);
				$("#usAudioTd").append(usBtn);
				initPlayBtn();
				$("#wordInfo").fadeIn();
				$.post([[${basePath}]] + "saveWord.do",{
					word : wordVal
				},function(){
					console.log("Send Request!");
				});
			}else if(json.STATUS == "ERROR"){
				alert(json.MESSAGE);
			}else if(json.id != null && json.id != ""){
				$("#wordInfo").fadeOut();
				$("#wordContent").text(json.content);
				$("#ukPronunciation").text(json.ukPronunciation);
				$("#usPronunciation").text(json.usPronunciation);
				$("#enDefinition").text(json.enDefinition);
				$("#cnDefinition").text(json.cnDefinition);
				$("#ukAudioTd").html("");
				$("#usAudioTd").html("");
				var ukAudio = $('<audio id="ukAudio" id="ukAudio"><source src="'+json.ukAudio+'" type="audio/mpeg" id="ukAudioSource" /></audio>');
				var usAudio = $('<audio id="usAudio" id="usAudio"><source src="'+json.usAudio+'" type="audio/mpeg" id="usAudioSource" /></audio>');
				var usBtn = $('<button class="btn btn-primary" id="usAudioControlBtn">play</button>');
				var ukBtn = $('<button class="btn btn-primary" id="ukAudioControlBtn">play</button>');
				$("#ukAudioTd").append(ukAudio);
				$("#usAudioTd").append(usAudio);
				$("#ukAudioTd").append(ukBtn);
				$("#usAudioTd").append(usBtn);
				initPlayBtn();
				$("#wordInfo").fadeIn();
			}
		},"JSON");
		
	}
	
	$("#searchBtn").bind("click",search);
	
	function enter(e){
		if(e.keyCode==13) {
			search();
		}
	}
	function initPlayBtn(){
		usAudio = $("#usAudio")[0];
		ukAudio = $("#ukAudio")[0];
		$("#usAudioControlBtn").click(function(){
			if(usAudio.paused){
				usAudio.play();
			}else{
				usAudio.pause();
			}
		});
		$("#ukAudioControlBtn").click(function(){
			if(ukAudio.paused){
				ukAudio.play();
			}else{
				ukAudio.pause();
			}
		});
	}
</script>
</body>
</html>