
/*#428--bca*/
.wzpager {
  display: inline-block;
  padding-left: 0;
  margin: 20px 0;
  border-radius: 4px;
}
.wzpager > li {
  display: inline;
}
.wzpager > li > a,
.wzpager > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #282828;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.wzpager > li:first-child > a,
.wzpager > li:first-child > span {
  margin-left: 0;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}
.wzpager > li:last-child > a,
.wzpager > li:last-child > span {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.wzpager > li > a:hover,
.wzpager > li > span:hover,
.wzpager > li > a:focus,
.wzpager > li > span:focus {
  /* color: #2a6496; */
  background-color: #eee;
  border-color: #ddd;
}
.wzpager > .active > a,
.wzpager > .active > span,
.wzpager > .active > a:hover,
.wzpager > .active > span:hover,
.wzpager > .active > a:focus,
.wzpager > .active > span:focus {
  z-index: 2;
  color: #fff;
  cursor: default;
  background-color: #282828;
  border-color: #282828;
}
.wzpager > .disabled > span,
.wzpager > .disabled > span:hover,
.wzpager > .disabled > span:focus,
.wzpager > .disabled > a,
.wzpager > .disabled > a:hover,
.wzpager > .disabled > a:focus {
  color: #777;
  cursor: not-allowed;
  background-color: #fff;
  border-color: #ddd;
}
.wzpager-lg > li > a,
.wzpager-lg > li > span {
  padding: 10px 16px;
  font-size: 18px;
}
.wzpager-lg > li:first-child > a,
.wzpager-lg > li:first-child > span {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.wzpager-lg > li:last-child > a,
.wzpager-lg > li:last-child > span {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}
.wzpager-sm > li > a,
.wzpager-sm > li > span {
  padding: 5px 10px;
  font-size: 12px;
}
.wzpager-sm > li:first-child > a,
.wzpager-sm > li:first-child > span {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}
.wzpager-sm > li:last-child > a,
.wzpager-sm > li:last-child > span {
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

#jumpInput{
    border:none;
    margin: 0px;
    padding:0px;
    width:30px;
    font-size: 18px;
}