<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoliu1995.assistant.mapper.BookWordMapper">
    <select id="randomWordIdByCurrentTime" resultType="Integer">
        SELECT u.word_id FROM (SELECT word_id FROM book_word WHERE book_id = #{bookId}) b INNER JOIN
            (SELECT word_id,show_time FROM user_word WHERE user_id = #{userId}) u ON b.word_id = u.word_id
        WHERE u.show_time &lt; SYSDATE() ORDER BY RAND() limit 0,1
    </select>

    <select id="randomWordId" resultType="Integer">
        SELECT u.word_id FROM (SELECT word_id FROM book_word WHERE book_id = #{bookId}) b INNER JOIN
        (SELECT word_id,show_time FROM user_word WHERE user_id = #{userId}) u ON b.word_id = u.word_id ORDER BY RAND() limit 0,1
    </select>

    <select id="countWaitReview" resultType="Integer">
        SELECT COUNT(1) FROM (SELECT word_id FROM book_word WHERE book_id = ${bookId}) b INNER JOIN
            (SELECT word_id,show_time FROM user_word WHERE user_id = #{userId}) u ON b.word_id = u.word_id
        WHERE u.show_time &lt; SYSDATE()
    </select>
</mapper>