<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chaoliu1995.assistant.mapper.TabWordMapper">
	<resultMap id="BaseResultMap" type="TabWord">
		<id column="id" jdbcType="INTEGER" property="id" />
		<result column="uk_audio" jdbcType="VARCHAR" property="ukAudio" />
		<result column="us_audio" jdbcType="VARCHAR" property="usAudio" />
		<result column="audio_name" jdbcType="VARCHAR" property="audioName" />
		<result column="content_type" jdbcType="VARCHAR" property="contentType" />
		<result column="cn_definition" jdbcType="VARCHAR" property="cnDefinition" />
		<result column="en_definition" jdbcType="VARCHAR" property="enDefinition" />
		<result column="content_id" jdbcType="INTEGER" property="contentId" />
		<result column="has_audio" jdbcType="INTEGER" property="hasAudio" />
		<result column="content" jdbcType="VARCHAR" property="content" />
		<result column="uk_pronunciation" jdbcType="VARCHAR" property="ukPronunciation" />
		<result column="us_pronunciation" jdbcType="VARCHAR" property="usPronunciation" />
	</resultMap>
	<sql id="Base_Column_List">
		id, uk_audio, us_audio, audio_name, content_type,
		cn_definition,
		en_definition, content_id,
		has_audio, content,
		uk_pronunciation, us_pronunciation
	</sql>
	
	<sql id="ListWordSQL">
		<where>
			u.user_id = #{listDTO.userId}
			<if test="listDTO.keyword != null and listDTO.keyword != ''">
				AND content like CONCAT('%',#{listDTO.keyword},'%')
			</if>
		</where>
	</sql>
	
	<select id="listByCommonListDTO" resultMap="BaseResultMap">
		SELECT w.id, uk_audio, us_audio, audio_name, content_type,
		cn_definition,en_definition, content_id,has_audio, content,
		uk_pronunciation, us_pronunciation
		FROM word w RIGHT JOIN user_word u ON w.id = u.word_id
		<include refid="ListWordSQL"></include>
		limit #{listDTO.start},#{listDTO.rows}
	</select>
	<select id="countByCommonListDTO" resultType="Integer">
		SELECT COUNT(w.id) FROM word w RIGHT JOIN user_word u ON w.id = u.word_id
		<include refid="ListWordSQL"></include>
	</select>

</mapper>