<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Login</title>
<link type="text/css" th:href="@{/resources/bootstrap/bootstrap-theme.min.css}" rel="stylesheet" />
<link type="text/css" th:href="@{/resources/bootstrap/bootstrap.min.css}" rel="stylesheet" />
<link type="text/css" th:href="@{/resources/css/common.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/resources/bootstrap/bootstrap.min.js}"></script>
<!-- <script type="text/javascript" th:src="@{/resources/js/encryption/Base64.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/encryption/AES.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/encryption/md5.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/encryption/sha1.js}"></script>
<script type="text/javascript" th:src="@{/resources/js/encryption/FrontEnd.js}"></script> -->
<script type="text/javascript" th:src="@{/resources/js/encryption/encryption.min.js}"></script>
<style type="text/css">
	body{ margin:0px; padding:0px; overflow-x:hidden; overflow:hidden;background-color: #333;}
	#loginForm{ margin:300px auto 0px; width:50%; height:300px; }
	#loginBtn{ outline:medium; }
</style>
</head>
<body>
	<div class="container">
		<div id="loginForm">
			<div class="input-group input-group-lg">
	            <span class="input-group-addon">Username</span>
	            <input type="text" class="form-control" id="uname">
	        </div>
	        <br/>
	        <div class="input-group input-group-lg">
	            <span class="input-group-addon">Password</span>
	            <input type="password" class="form-control" id="pwd">
	        </div>
	        <br/>
	        <button type="button" id="loginBtn" class="btn btn-primary btn-lg btn-block">Login</button>
        </div>
	</div>
	<div class="modal fade" id="alertModal" tabindex="-1">
		<!-- 窗口声明 -->
		<div class="modal-dialog">
			<!-- 内容声明 -->
			<div class="modal-content">
				<div class="modal-header">
					<button class="close" data-dismiss="modal">
						<span>&times;</span>
					</button>
					<h4 class="modal-title">警告</h4>
				</div>
				<div class="modal-body">
					<p id="alertMessage"></p>
				</div>
			</div>
		</div>
<script type="text/javascript" th:inline="javascript">
function login(){
    var uname = $("#uname").val();
    var pwd = $("#pwd").val();
    if(uname == "" || pwd == "" || uname == undefined || pwd == undefined){
        return;
	}else{
		//使用MD5加密
        var md5word = hex_md5(pwd);
        //再用哈希加密
        var hash2word = hex_sha1(md5word);
        //再用AES加密
        var encodeStr = Encrypt(hash2word);
		$.post([[${basePath}]]+"login/commit.do",{
			username : uname,
			password : encodeStr,
		},function(data){
			if(data.STATUS == "SUCCESS"){
               	window.location.href= [[${basePath}]] + "index.do";
           	}else{
           		$("#alertMessage").html(data.MESSAGE);
           		$('#alertModal').modal('show');
           	}
       },"JSON");
    }
}
$("#loginBtn").click(login);
$('#validCode').keydown(function(e){
	if(e.keyCode==13){
		login();
	}
});
</script>
</body>
</html>