<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="content-type" content="text/html;charset=UTF-8">
<title>Review</title>
<link type="text/css" th:href="@{/resources/bootstrap/bootstrap-theme.min.css}" rel="stylesheet" />
<link type="text/css" th:href="@{/resources/bootstrap/bootstrap.min.css}" rel="stylesheet" />
<link type="text/css" th:href="@{/resources/css/common.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<style type="text/css">
	.wordContent{ text-align: center; }
	#btnGroup{ text-align:center; }
	#wordDetails{ display:none; }
</style>
</head>
<body>
	<div th:replace="common/header"></div>
	<div style="height:70px;"></div>
	<div class="container">
		<input type="hidden" th:value="${word.id}" id="wordId" />
		<h1 class="wordContent" th:text="${word.content}"></h1>
		<br/>
		<br/>
		<div id="btnGroup">
			<button type="button" class="btn btn-primary btn-lg" onclick="memory(-2)">very strange</button>
			<button type="button" class="btn btn-primary btn-lg" onclick="memory(-1)">strange</button>
			<button type="button" class="btn btn-primary btn-lg" onclick="memory(1)">ordinary</button>
			<button type="button" class="btn btn-primary btn-lg" onclick="memory(2)">familiar</button>
			<button type="button" class="btn btn-primary btn-lg" onclick="memory(3)">very familiar</button>
		</div>
		<br/>
		<div id="btnGroup">
			<button type="button" class="btn btn-primary btn-lg" onclick="show()">show details</button>
		</div>
		<br/>
		<table class="table table-bordered table-striped" id="wordDetails">
			<tr>
				<th>US Pronunciation</th>
				<th>US Audio</th>
				<th>UK Pronunciation</th>
				<th>UK Audio</th>
				<th>CN Definition</th>
			</tr>
			<tr>
				<td th:text="${word.usPronunciation}"></td>
				<td><button class="btn btn-primary" id="usAudioControlBtn">Play</button></td>
				<td th:text="${word.ukPronunciation}"></td>
				<td><button class="btn btn-primary" id="ukAudioControlBtn">Play</button></td>
				<td th:text="${word.cnDefinition}"></td>
			</tr>
		</table>
		<audio id="usAudio"><source th:src="${word.usAudio}" type="audio/mpeg" id="usAudioSource" /></audio>
		<audio id="ukAudio"><source th:src="${word.ukAudio}" type="audio/mpeg" id="ukAudioSource" /></audio>
		<div style="height:450px;"></div>
	</div>
	<div th:replace="common/footer"></div>
<script type="text/javascript" th:inline="javascript">
	var usAudio = $("#usAudio")[0];
	var ukAudio = $("#ukAudio")[0];
	function memory(status){
		var wordId = $("#wordId").val();
		$.post("/review/memory.do",{
			wordId : wordId,
			memoryStatus : status
		},function(data){
			location.reload();
		});
	}
	function show(){
		var element = $("#wordDetails");
		if(element.css("display") == "none"){
			element.fadeIn();
		}else{
			element.fadeOut();
		}
	}
	$("#usAudioControlBtn").click(function(){
		if(usAudio.paused){
			usAudio.play();
		}else{
			usAudio.pause();
		}
	});
	$("#ukAudioControlBtn").click(function(){
		if(ukAudio.paused){
			ukAudio.play();
		}else{
			ukAudio.pause();
		}
	});
</script>
</body>
</html>