<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Search</title>
<link type="text/css" th:href="@{/resources/bootstrap/bootstrap-theme.min.css}" rel="stylesheet" />
<link type="text/css" th:href="@{/resources/bootstrap/bootstrap.min.css}" rel="stylesheet" />
<link type="text/css" th:href="@{/resources/css/common.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<style>
	body{ background-color: #333;}
	#searchForm{ width:80%; height:50px; margin:200px auto 0px; }
	
	#wordText{ width:70%; height:50px; border:none; font-size:24px; text-indent:10px;
		margin:0px; padding:0px; float:left; border-radius:6px 0px 0px 6px;}
	
	#searchBtn{ width:30%; border-radius:0px 6px 6px 0px; float:right; border:1px solid #fff;
		height:50px; background-color: #333; color:#FFF; display: inline-block;
		margin:0px; padding:0px; font-size:20px;}
	
	#wordInfoTable { width:80%; margin:30px auto 0px; background-color: #FFF;}
	#wordInfoTable tr .left{ width:20%; font-size:18px; font-weight:bold; text-align: right;}
</style>
</head>
<body>
	<div th:replace="common/header"></div>
	<div class="container">
		<div id="searchForm" >
			<input type="text" name="word" id="wordText" onkeydown="enter(event)" />
			<button id="searchBtn" type="button">Search</button>
		</div>
		<table id="wordInfoTable" class="table table-bordered table-striped">
			<tr>
				<td class="left">Word</td>
				<td class="ri]ght" id="wordContent"></td>
			</tr>
			<tr>
				<td class="left" title="UK Pronunciation">UK Pron</td>
				<td class="ri]ght" id="ukPronunciation"></td>
			</tr>
			<tr>
				<td class="left" title="US Pronunciation">US Pron</td>
				<td class="ri]ght" id="usPronunciation"></td>
			</tr>
			<tr>
				<td class="left" title="CN Definition">CN Def</td>
				<td class="ri]ght"  id="cnDefinition"></td>
			</tr>
			<tr>
				<td class="left" title="EN Definition">EN Def</td>
				<td class="ri]ght" id="enDefinition"></td>
			</tr>
			<tr>
				<td class="left">UK Audio</td>
				<td class="ri]ght" id="ukAudioTd"></td>
			</tr>
			<tr>
				<td class="left">US Audio</td>
				<td class="ri]ght" id="usAudioTd"></td>
			</tr>
		</table>
	</div>
<script type="text/javascript" th:inline="javascript">
	var usAudio;
	var ukAudio;
	function search(){
		var wordVal = $("#wordText").val();
		if(wordVal == null || wordVal == "" || $.trim(wordVal) == ""){
			return;
		}
		var reg= /^[A-Za-z]+$/;
		if(!reg.test(wordVal)){
			return;
		}
		if(wordVal == $("#wordContent").text()){
			$("#wordText").val("");
			return;
		}
		$.post([[${basePath}]] + "search.do",{
			word : wordVal
		},function(data){
			var json = data;
			if(json.msg == "SUCCESS"){
				var wordData = json.data;
				$("#wordInfo").fadeOut();
				$("#wordContent").text(wordData.content);
				$("#ukPronunciation").text(wordData.pronunciations['uk']);
				$("#usPronunciation").text(wordData.pronunciations['us']);
				$("#enDefinition").text(wordData.en_definition['defn']);
				$("#cnDefinition").text(wordData.cn_definition['defn']);
				
				$("#ukAudioTd").html("");
				$("#usAudioTd").html("");
				
				var ukAudio = $('<audio control id="ukAudio"><source src="'+wordData.uk_audio+'" type="audio/mpeg" id="ukAudioSource" /></audio>');
				var usAudio = $('<audio control id="usAudio"><source src="'+wordData.us_audio+'" type="audio/mpeg" id="usAudioSource" /></audio>');
				$("#ukAudioTd").append(ukAudio);
				$("#usAudioTd").append(usAudio);
				var usBtn = $('<button class="btn btn-primary" id="usAudioControlBtn">Play</button>');
				var ukBtn = $('<button class="btn btn-primary" id="ukAudioControlBtn">Play</button>');
				$("#ukAudioTd").append(ukBtn);
				$("#usAudioTd").append(usBtn);
				initPlayBtn();
				$("#wordInfo").fadeIn();
				$.post([[${basePath}]] + "saveWord.do",{
					word : wordVal
				},function(){
					console.log("Send Request!");
				});
			}else if(json.STATUS == "ERROR"){
				alert(json.MESSAGE);
			}else if(json.id != null && json.id != ""){
				$("#wordInfo").fadeOut();
				$("#wordContent").text(json.content);
				$("#ukPronunciation").text(json.ukPronunciation);
				$("#usPronunciation").text(json.usPronunciation);
				$("#enDefinition").text(json.enDefinition);
				$("#cnDefinition").text(json.cnDefinition);
				$("#ukAudioTd").html("");
				$("#usAudioTd").html("");
				var ukAudio = $('<audio id="ukAudio" id="ukAudio"><source src="'+json.ukAudio+'" type="audio/mpeg" id="ukAudioSource" /></audio>');
				var usAudio = $('<audio id="usAudio" id="usAudio"><source src="'+json.usAudio+'" type="audio/mpeg" id="usAudioSource" /></audio>');
				var usBtn = $('<button class="btn btn-primary" id="usAudioControlBtn">Play</button>');
				var ukBtn = $('<button class="btn btn-primary" id="ukAudioControlBtn">Play</button>');
				$("#ukAudioTd").append(ukAudio);
				$("#usAudioTd").append(usAudio);
				$("#ukAudioTd").append(ukBtn);
				$("#usAudioTd").append(usBtn);
				initPlayBtn();
				$("#wordInfo").fadeIn();
			}
		},"JSON");
		
	}
	
	$("#searchBtn").bind("click",search);
	
	function enter(e){
		if(e.keyCode==13) {
			search();
		}
	}
	
	function initPlayBtn(){
		usAudio = $("#usAudio")[0];
		ukAudio = $("#ukAudio")[0];
		$("#usAudioControlBtn").click(function(){
			if(usAudio.paused){
				usAudio.play();
			}else{
				usAudio.pause();
			}
		});
		$("#ukAudioControlBtn").click(function(){
			if(ukAudio.paused){
				ukAudio.play();
			}else{
				ukAudio.pause();
			}
		});
	}
	
</script>
</body>
</html>