<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Word</title>
<script type="text/javascript" th:src="@{/resources/js/jquery.min.js}"></script>
<link type="text/css" th:href="@{/resources/bootstrap/bootstrap-theme.min.css}" rel="stylesheet" />
<link type="text/css" th:href="@{/resources/bootstrap/bootstrap.min.css}" rel="stylesheet" />
<link type="text/css" th:href="@{/resources/css/common.css}" rel="stylesheet" />
<script type="text/javascript" th:src="@{/resources/bootstrap/bootstrap.min.js}"></script>
</head>
<body>
	<div th:replace="common/header"></div>
	<div style="height:70px;"></div>
	<div class="container">
		<table class="table table-bordered table-striped" id="wordTable">
			<tr>
				<th>单词</th>
				<th>音标(US)</th>
				<th>音标(UK)</th>
				<th>中文释义</th>
			</tr>
			<tr  th:each="word,iterStat : ${pager.recordList}">
				<td th:text="${word.content}"></td>
				<td th:text="${word.usPronunciation}"></td>
				<td th:text="${word.ukPronunciation}"></td>
				<td th:text="${word.cnDefinition}"></td>
			</tr>
		</table>
		<nav id="pager">
			<ul class="pagination pagination-lg">
				<li><a th:href="${basePath}+'review/listWord.do?currentPage='+${pager.prevPage}">Previous</a></li>
				<li><span th:text="${pager.currentPage}+'/'+${pager.pageTotal}"></span></li>
				<li><a th:href="${basePath}+'review/listWord.do?currentPage='+${pager.nextPage}">Next</a></li>
				<li><span><input type="text" id="jumpInput" style="width:50px;height:25px;border:none;" /></span></li>
				<li><span id="jumpBtn" style="cursor:pointer;">跳转</span></li>
			</ul>
		</nav>
	</div>
	<div th:replace="common/footer"></div>
	<script type="text/javascript" th:inline="javascript">
		$("#jumpBtn").click(function(){
			var page = $("#jumpInput").val();
			if(page == null || page == ""){
				return;
			}
			window.location.href=[[${basePath}]]+"review/listWord.do?currentPage="+page;
		});
	</script>
</body>
</html>